



<nav>
    <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/006/800/199/small/creative-abstract-book-feather-logo-design-vector.jpg" alt=""> -->
    <img src="https://i.pinimg.com/736x/dd/64/da/dd64da585bc57cb05e5fd4d8ce873f57--library-logo-kids-logo.jpg" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/show">Show</a></li>
    </ul>
 <div class="icons">
    <h6><i class="ri-search-line"></i></h6>
    <h6><i class="ri-heart-line"></i></h6>
    <h6><i class="ri-shopping-cart-line"></i></h6>
 </div>

</nav>