<%- include("partials/header")%>
<link rel="stylesheet" href="stylesheets/index.css">

<div class="pg1">
    <%- include("partials/nav")%>

    <h2>A <span>Book </span>Is a <span> Dream</span> <br> That You Hold In Your Hands..</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Eveniet eos accusamus mollitia alias architecto. <br> Illo quod omnis libero corrupti veritatis.</p>
</div>

<%- include("partials/footer")%>